.home {
    background-color: #0B4F6C;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: row;
}

.center {
    text-align: center;
}

.medium-width {
    max-width: 40%;
}

.home-items {
    margin-right: 25vw;
    text-align: center;
}

.home-items h1 {
    font-size: 40px;
}

.home-items p {
    font-size: 20px;
}

.left-graphic {
    width: 38%;
    padding-top: 25vh;
}

.left-graphic img {
    margin-left: calc(100% - 350px);
    margin-right: 0;
}

.right-intro {
    width: 62%;
    margin-left: 25px;
    margin-top: 30vh;
}


.gray {
    color: rgb(70, 70, 70);
}

.white {
    color: white;
}

.lg-font {
    font-size: 17px;
}

.button-filled {
    border: none;
    background-color:#4CAF50;
    color: white;
    font-size: 17px;
    display: inline-block;
    padding: 15px 32px;
    border-radius: 5px;
    font-weight: 800;
    cursor: pointer;
}

.button-filled:hover {
    background-color: #2a8a2d;
}


@media screen and (max-width: 770px) {
    .left-graphic {
        display: none;
    }
    .right-intro {
        width: 100%;
    }
    .home-items {
        margin-left: auto;
        margin-right: auto;
    }
    .medium-width {
        max-width: 80%;
    }
}