.navbar {
    background-color: #0B4F6C;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-size: 25px;
    font-weight: 900;
    margin-left: 25vw;
}

.navitem {
    color: white;
    text-decoration: none;

}

.right-nav {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15%;
    margin-right: 25vw;
}

.vertical {
    flex-direction: column;
}

.gdsc {
    display: flex;
    flex-direction: row;
}